.container{
    background-color: #141516;
    height: 800px;
    color: #CED4E2;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    padding-top: 15%;
    flex-wrap: wrap;
    

}
.Btn1{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.Btn2{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.counter{
    border: 1px solid  #CED4E2;
    width: 500px;
    margin-left:30%;
    border-radius: 30px;
    padding: 10px;
 
  
}
@media screen and (max-width:600px){
    .counter{
       
       width: 400px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-right: 10%;
       gap: 20px;
      
    }
    .container{
        height: 200px;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      font-size: 2vw;

    }
}

@media screen and (max-width:400px){
    .counter{
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 100px;
        justify-content: center;
        align-items: center;
        
    

    }
    .container{
        height: 400px;
        width: 200px;
        justify-content: center;
        align-items: center;
        margin:30px;
        padding: 10px;
        padding-right: 30px ;
    }
}
